OZTF.EducationManageSys.API/obj/OZTF.EducationManageSys.API.csproj.nuget.dgspec.json
OZTF.EducationManageSys.API/obj/OZTF.EducationManageSys.API.csproj.nuget.g.props
OZTF.EducationManageSys.API/obj/OZTF.EducationManageSys.API.csproj.nuget.g.targets
OZTF.EducationManageSys.API/obj/project.assets.json
OZTF.EducationManageSys.API/obj/project.nuget.cache
OZTF.EducationManageSys.API/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
OZTF.EducationManageSys.API/obj/Debug/netcoreapp3.1/OZTF.EducationManageSys.API.AssemblyInfo.cs
OZTF.EducationManageSys.API/obj/Debug/netcoreapp3.1/OZTF.EducationManageSys.API.AssemblyInfoInputs.cache
OZTF.EducationManageSys.API/obj/Debug/netcoreapp3.1/OZTF.EducationManageSys.API.assets.cache
OZTF.EducationManageSys.API/obj/Debug/netcoreapp3.1/OZTF.EducationManageSys.API.csprojAssemblyReference.cache
OZTF.EducationManageSys.Application/obj/OZTF.EducationManageSys.Application.csproj.nuget.dgspec.json
OZTF.EducationManageSys.Application/obj/OZTF.EducationManageSys.Application.csproj.nuget.g.props
OZTF.EducationManageSys.Application/obj/OZTF.EducationManageSys.Application.csproj.nuget.g.targets
OZTF.EducationManageSys.Application/obj/project.assets.json
OZTF.EducationManageSys.Application/obj/project.nuget.cache
OZTF.EducationManageSys.Application/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
OZTF.EducationManageSys.Application/obj/Debug/netcoreapp3.1/OZTF.EducationManageSys.Application.AssemblyInfo.cs
OZTF.EducationManageSys.Application/obj/Debug/netcoreapp3.1/OZTF.EducationManageSys.Application.AssemblyInfoInputs.cache
OZTF.EducationManageSys.Application/obj/Debug/netcoreapp3.1/OZTF.EducationManageSys.Application.assets.cache
OZTF.EducationManageSys.Application/obj/Debug/netcoreapp3.1/OZTF.EducationManageSys.Application.csproj.FileListAbsolute.txt
OZTF.EducationManageSys.Application/obj/Debug/netcoreapp3.1/OZTF.EducationManageSys.Application.csprojAssemblyReference.cache
OZTF.EducationManageSys.Domain/bin/Debug/netcoreapp3.1/OZTF.EducationManageSys.Domain.deps.json
OZTF.EducationManageSys.Domain/obj/OZTF.EducationManageSys.Domain.csproj.nuget.dgspec.json
OZTF.EducationManageSys.Domain/obj/OZTF.EducationManageSys.Domain.csproj.nuget.g.props
OZTF.EducationManageSys.Domain/obj/OZTF.EducationManageSys.Domain.csproj.nuget.g.targets
OZTF.EducationManageSys.Domain/obj/project.assets.json
OZTF.EducationManageSys.Domain/obj/project.nuget.cache
OZTF.EducationManageSys.Domain/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
OZTF.EducationManageSys.Domain/obj/Debug/netcoreapp3.1/OZTF.EducationManageSys.Domain.AssemblyInfo.cs
OZTF.EducationManageSys.Domain/obj/Debug/netcoreapp3.1/OZTF.EducationManageSys.Domain.AssemblyInfoInputs.cache
OZTF.EducationManageSys.Domain/obj/Debug/netcoreapp3.1/OZTF.EducationManageSys.Domain.assets.cache
OZTF.EducationManageSys.Domain/obj/Debug/netcoreapp3.1/OZTF.EducationManageSys.Domain.csproj.FileListAbsolute.txt
OZTF.EducationManageSys.Domain/obj/Debug/netcoreapp3.1/OZTF.EducationManageSys.Domain.csprojAssemblyReference.cache
OZTF.EducationManageSys.Infrastructure/bin/Debug/netcoreapp3.1/OZTF.EducationManageSys.Infrastructure.deps.json
OZTF.EducationManageSys.Infrastructure/obj/OZTF.EducationManageSys.Infrastructure.csproj.nuget.dgspec.json
OZTF.EducationManageSys.Infrastructure/obj/OZTF.EducationManageSys.Infrastructure.csproj.nuget.g.props
OZTF.EducationManageSys.Infrastructure/obj/OZTF.EducationManageSys.Infrastructure.csproj.nuget.g.targets
OZTF.EducationManageSys.Infrastructure/obj/project.assets.json
OZTF.EducationManageSys.Infrastructure/obj/project.nuget.cache
OZTF.EducationManageSys.Infrastructure/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
OZTF.EducationManageSys.Infrastructure/obj/Debug/netcoreapp3.1/OZTF.EducationManageSys.Infrastructure.AssemblyInfo.cs
OZTF.EducationManageSys.Infrastructure/obj/Debug/netcoreapp3.1/OZTF.EducationManageSys.Infrastructure.AssemblyInfoInputs.cache
OZTF.EducationManageSys.Infrastructure/obj/Debug/netcoreapp3.1/OZTF.EducationManageSys.Infrastructure.assets.cache
OZTF.EducationManageSys.Infrastructure/obj/Debug/netcoreapp3.1/OZTF.EducationManageSys.Infrastructure.csproj.FileListAbsolute.txt
OZTF.EducationManageSys.Infrastructure/obj/Debug/netcoreapp3.1/OZTF.EducationManageSys.Infrastructure.csprojAssemblyReference.cache
OZTF.EducationManageSys/obj/OZTF.EducationManageSys.csproj.nuget.dgspec.json
OZTF.EducationManageSys/obj/OZTF.EducationManageSys.csproj.nuget.g.props
OZTF.EducationManageSys/obj/OZTF.EducationManageSys.csproj.nuget.g.targets
OZTF.EducationManageSys/obj/project.assets.json
OZTF.EducationManageSys/obj/project.nuget.cache
OZTF.EducationManageSys/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
OZTF.EducationManageSys/obj/Debug/netcoreapp3.1/OZTF.EducationManageSys.AssemblyInfo.cs
OZTF.EducationManageSys/obj/Debug/netcoreapp3.1/OZTF.EducationManageSys.AssemblyInfoInputs.cache
OZTF.EducationManageSys/obj/Debug/netcoreapp3.1/OZTF.EducationManageSys.assets.cache
OZTF.EducationManageSys/obj/Debug/netcoreapp3.1/OZTF.EducationManageSys.csprojAssemblyReference.cache
OZTF.EducationManageSys/obj/Debug/netcoreapp3.1/OZTF.EducationManageSys.RazorAssemblyInfo.cache
OZTF.EducationManageSys/obj/Debug/netcoreapp3.1/OZTF.EducationManageSys.RazorAssemblyInfo.cs
